@import url(nullstyle.css);
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,700;1,300;1,400&display=swap");
.wrapper {
  max-width: 1550px;
  font-family: "Raleway", sans-serif;
  margin: 100px auto;
  -webkit-box-shadow: 1px 1px 10px 5px #837d7d;
          box-shadow: 1px 1px 10px 5px #837d7d;
}

.main-page {
  height: 926px;
  padding: 35px 80px;
  background-color: #eff0f2;
}

.header {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 230px;
}

.header__logo {
  width: 100px;
  height: 30px;
  border: 4px solid black;
}

.header__burger {
  cursor: pointer;
  position: relative;
  width: 30px;
  height: 21px;
}

.header__burger::before, .header__burger::after,
.header__burger span {
  position: absolute;
  left: 0;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: #000000;
  opacity: 0.6;
}

.header__burger::before, .header__burger::after {
  content: "";
}

.header__burger::before {
  top: 0;
}

.header__burger::after {
  bottom: 0;
}

.header__burger span {
  top: 42%;
}

.logo-text {
  text-shadow: 0 0 2px rgba(21, 21, 22, 0.75);
  color: #000000;
  font-size: 17px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1.02px;
  line-height: 23px;
}

.logo-span {
  color: #77efe5;
  font-size: 21px;
  letter-spacing: 1.26px;
}

.hello {
  width: 967px;
  height: 33px;
  text-shadow: 4px 8px 10px rgba(0, 0, 0, 0.24);
  font-size: 45px;
  font-weight: 700;
  color: #505050;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2.7px;
  margin: 0 auto;
}

.hello span {
  background: url("../img/bg1.png");
}

.contact {
  opacity: 0.75;
  color: #000000;
  font-size: 18px;
  line-height: 28px;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 2.16px;
  border-radius: 2px;
  border: 2px solid #000000;
  opacity: 0.5;
  padding: 5px 40px;
  display: inline-block;
  margin: 0 auto;
  position: relative;
  top: 300px;
  left: 43%;
}

.glass {
  position: relative;
  bottom: -280px;
  left: 1100px;
}

.about {
  height: 935px;
  background-color: #f8fafa;
}

.page-name {
  padding: 130px 0;
}

.page-name__title {
  opacity: 0.9;
  color: #000000;
  font-size: 38px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2.28px;
  line-height: 70px;
}

.page-name__subtitle {
  opacity: 0.62;
  color: #000000;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1.08px;
}

.about-content {
  margin: 0 auto;
  max-width: 1066px;
  max-height: 566px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.picture {
  max-width: 479px;
  max-height: 543px;
  position: relative;
}

.picture__spans {
  cursor: pointer;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  left: 45%;
  top: 30px;
  width: 50px;
  height: 10px;
}

.picture__spans::before, .picture__spans::after, .picture__spans__span-1, .picture__spans__span-2 {
  height: 10px;
  width: 11px;
  border-radius: 3px;
  background-color: #d0d0d0;
}

.picture__spans::before, .picture__spans::after {
  content: "";
}

.picture__spans__span-1 {
  background-color: #71f6eb;
}

.picture__img {
  position: relative;
  z-index: 999999;
  padding: 0 15px;
}

.picture__bg {
  width: 479px;
  height: 412px;
  background-color: #eff0f2;
  position: absolute;
  top: 40px;
}

.picture__bg_what {
  width: 393px;
  height: 362px;
  position: absolute;
  top: 6%;
  border-radius: 3px;
  background-color: #ecedef;
  right: 1%;
}

.about-right-part__description {
  max-width: 476px;
  font-family: "Merriweather", serif;
}

.about-right-part__label {
  opacity: 0.75;
  color: #000000;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

.about-right-part__text {
  opacity: 0.74;
  color: #000000;
  font-size: 16px;
  line-height: 28px;
  text-align: left;
  letter-spacing: 0.8px;
}

.about-right-part__text p {
  padding: 30px 0;
}

.about-right-part__text p:first-child {
  padding-bottom: 0;
}

.featured-works {
  height: 1166px;
}

.featured-works__pictures {
  max-width: 1139px;
  max-height: 731px;
  margin: 0 auto;
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 33.333% 33.334% 33.333%;
      grid-template-columns: 33.333% 33.334% 33.333%;
  -ms-grid-rows: 50% 50%;
      grid-template-rows: 50% 50%;
  grid-gap: 7.5px;
}

.our-services {
  height: 1618px;
  background-color: #f9fbfb;
}

.service-view__num2 {
  background: url("../img/service2.png") no-repeat center top;
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-area: num2;
}

.service-view__num3 {
  background: url("../img/service3.png") no-repeat center top;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: num3;
}

.service-view__num4 {
  background: url("../img/service4.png") no-repeat center top;
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-area: num4;
}

.service-view__num5 {
  background: url("../img/service5.png") no-repeat;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: num5;
}

.service-view__num6 {
  background: url("../img/service6.png") no-repeat;
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-area: num6;
}

.services__content {
  max-width: 1140px;
  max-height: 1189px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  -ms-grid-rows: 422px 370px 370px;
      grid-template-rows: 422px 370px 370px;
      grid-template-areas: "num1 num1 num1 num2 num2" "num3 num3 num3 num4 num4" "num5 num5 num6 num6 num6";
  grid-gap: 20px;
}

.service-view {
  position: relative;
  background-size: cover;
  z-index: 1;
}

.service-view__title {
  opacity: 0.9;
  color: #ffffff;
  font-family: "Merriweather", serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 29px;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 170px 0 10px 70px;
}

.service-view_overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
}

.service-view__text {
  opacity: 0.77;
  color: #ffffff;
  font-size: 16px;
  line-height: 25px;
  text-align: left;
  letter-spacing: 0.32px;
  padding-left: 70px;
  width: 80%;
  text-overflow: ellipsis;
}

.service-view__link a {
  z-index: 99999999;
  opacity: 0.77;
  color: #ffffff;
  font-size: 19px;
  font-weight: 500;
  line-height: 85px;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 0.76px;
  padding: 70px;
}

.service-view span {
  background: url("../img/arrow.png") right no-repeat;
  padding: 1px 30px 0px 0px;
}

.service-view__num1 {
  background-color: #6df6eb;
  opacity: 0.97;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: num1;
}

.service-view__num1__text {
  opacity: 0.75;
  color: #000000;
  font-size: 16px;
  line-height: 28px;
  text-align: left;
  letter-spacing: 0.4px;
}

.service-view__num1__close {
  position: absolute;
  left: 56px;
  bottom: 56px;
  width: 17px;
  height: 17px;
  opacity: 0.4;
}

.service-view__num1__close:hover {
  opacity: 1;
}

.service-view__num1__close:before, .service-view__num1__close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 24px;
  width: 2px;
  background-color: #000;
}

.service-view__num1__close:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.service-view__num1__close:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.service-view__num1__title {
  opacity: 0.83;
  color: #000000;
  font-family: "Merriweather", serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 29px;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  padding-top: 65px;
}

.small-team {
  width: 1314px;
  margin: -40px auto 40px auto;
  padding-bottom: 60px;
}

.small-team__comrades {
  text-align: center;
  margin: 0 auto;
  max-width: 1141px;
  max-height: 900px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 33.333% 33.334% 33.333%;
      grid-template-columns: 33.333% 33.334% 33.333%;
  -ms-grid-rows: 50% 50%;
      grid-template-rows: 50% 50%;
  grid-gap: 7.5px;
  position: relative;
}

.black-comrade {
  position: relative;
}

.black-comrade-info {
  width: 335px;
  height: 241px;
  -webkit-box-shadow: 3px 6px 16px rgba(20, 20, 21, 0.18);
          box-shadow: 3px 6px 16px rgba(20, 20, 21, 0.18);
  background-color: #6df6eb;
  opacity: 0.98;
  position: absolute;
  bottom: 5%;
  right: 22px;
}

.black-comrade-info__title {
  opacity: 0.95;
  line-height: 24px;
  text-align: center;
  font-family: "Merriweather", serif;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #000000;
  padding: 40px;
  margin: 0 0 0 -25px;
  letter-spacing: 0.6px;
}

.black-comrade-info__subtitle {
  opacity: 0.95;
  color: #767070;
  font-family: "Merriweather", serif;
  font-size: 15px;
  font-weight: 400;
  font-style: italic;
  line-height: 24px;
  text-align: center;
}

.black-comrade-info__text {
  opacity: 0.8;
  color: #000000;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  letter-spacing: 0.16px;
  padding-left: 40px;
}

.black-comrade-info__contacts {
  margin: 30px 0 0 25px;
  width: 88px;
  height: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.black-comrade-info__fb {
  height: 13px;
  width: 100%;
  background: url("../img/icon1.png") 100% no-repeat;
}

.black-comrade-info__tw {
  height: 13px;
  width: 100%;
  background: url("../img/icon2.png") 100% no-repeat;
}

.black-comrade-info__pl {
  height: 13px;
  width: 100%;
  background: url("../img/icon3.png") 100% no-repeat;
}

.black-comrade-info__mail {
  width: 100%;
  height: 13px;
  background: url("../img/icon4.png") 100% no-repeat;
}

.black-comrade-info_arrow {
  opacity: 0.97;
  position: absolute;
  top: 150px;
  left: 30px;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 60px solid #6df6eb;
}

.what-they-says {
  height: 923px;
  background-color: #f9fbfb;
}

.what-they-says__content {
  margin: 0 auto;
  max-width: 1178px;
  max-height: 506px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.what-they-says__right-part {
  height: 463px;
  width: 666px;
  position: relative;
}

.what-they-says__right-part__slider {
  width: 156px;
  height: 53px;
  position: absolute;
  bottom: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.what-they-says__right-part__slider_left {
  width: 53px;
  height: 53px;
  -webkit-box-shadow: 3px 7px 11px rgba(20, 20, 21, 0.05);
          box-shadow: 3px 7px 11px rgba(20, 20, 21, 0.05);
  border-radius: 3px;
  background-color: #ffffff;
}

.al-rayan-data {
  width: 100%;
  height: 362px;
  border-radius: 3px;
  background: #eaebed;
  position: absolute;
  top: 5.5%;
}

.al-rayan-data__title {
  padding-top: 12%;
  margin-bottom: 1em;
  text-align: center;
  color: #000000;
  font-family: "Merriweather", serif;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1.2px;
}

.al-rayan-data__title_subtitle {
  opacity: 0.95;
  color: #787878;
  font-size: 15px;
  font-weight: 400;
  font-style: italic;
  line-height: 28px;
  text-transform: uppercase;
  letter-spacing: 0.9px;
}

.al-rayan-data__text {
  padding: 0 12%;
  text-align: center;
  opacity: 0.7;
  color: #000000;
  font-size: 16px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.96px;
}

.al-rayan-data__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  left: 42%;
  top: 30px;
  width: 104px;
  height: 14px;
}

.al-rayan-data__rating::before, .al-rayan-data__rating::after, .al-rayan-data__rating_star-1, .al-rayan-data__rating_star-2, .al-rayan-data__rating_star-3 {
  width: 16px;
  height: 14px;
  background: url("../img/star.png");
}

.al-rayan-data__rating::before, .al-rayan-data__rating::after {
  content: "";
}

.slider {
  width: 135px;
  height: 53px;
  position: absolute;
  right: 0;
  bottom: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider__left {
  width: 53px;
  height: 53px;
  -webkit-box-shadow: 3px 7px 11px rgba(20, 20, 21, 0.05);
          box-shadow: 3px 7px 11px rgba(20, 20, 21, 0.05);
  border-radius: 3px;
  background-color: #ffffff;
}

.slider__left span {
  width: 15px;
  height: 15px;
  display: inline-block;
  background: url("../img/slide_left.png") no-repeat;
  margin: 35%;
}

.slider__right {
  width: 53px;
  height: 53px;
  -webkit-box-shadow: 2px 6px 11px rgba(20, 20, 21, 0.1);
          box-shadow: 2px 6px 11px rgba(20, 20, 21, 0.1);
  border-radius: 3px;
  background-color: #71f6eb;
}

.slider__right span {
  width: 15px;
  height: 15px;
  display: inline-block;
  background: url("../img/slide_right.png") center no-repeat;
  margin: 36%;
}

.message-page {
  height: 1407px;
  position: relative;
  background: url("../img/company.png") top 100px center no-repeat;
}

.message-page__bg {
  background: url("../img/christmas.png") top 150px center no-repeat;
  opacity: 0.35;
  width: 100%;
  height: 100%;
}

.message {
  position: absolute;
  top: 35%;
  width: 1140px;
  height: 461px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  left: 13%;
}

.message__data {
  width: 614px;
  height: 460px;
  -webkit-box-shadow: 0 0 30px rgba(21, 21, 21, 0.12);
          box-shadow: 0 0 30px rgba(21, 21, 21, 0.12);
  background-color: #021623;
  opacity: 0.71;
}

.message__geolocation {
  width: 500px;
  height: 461px;
  -webkit-box-shadow: 0 0 3px rgba(21, 21, 21, 0.16);
          box-shadow: 0 0 3px rgba(21, 21, 21, 0.16);
  background-color: #021623;
  opacity: 0.71;
}

.adress {
  width: 213px;
  opacity: 0.4;
  color: #ffffff;
  font-size: 15px;
  margin: 36px 0 25px 25px;
  line-height: 24px;
}

.web-adress {
  width: 213px;
  opacity: 0.4;
  color: #ffffff;
  font-size: 15px;
  margin: 26px 0 15px 25px;
  line-height: 24px;
}

.map {
  background: url("../img/GoogleMap.png") no-repeat;
  margin: 0 auto;
  width: 455px;
  height: 224px;
}

.footer {
  position: absolute;
  bottom: 0;
  height: 316px;
  width: 100%;
  background: #262b2e bottom;
}

textarea {
  display: block;
  margin: 30px 0 30px 10%;
  width: 80%;
  height: 100px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  background-color: #021623;
  font-size: 15px;
  resize: none;
}

input {
  display: block;
  width: 80%;
  margin: 20px 0 0 10%;
  background-color: #021623;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  font-size: 15px;
  line-height: 51px;
}

[type="submit"] {
  color: #000000;
  font-family: "Merriweather", serif;
  font-size: 18px;
  line-height: 28px;
  text-transform: uppercase;
  width: 244px;
  height: 53px;
  border-radius: 2px;
  background-color: #6eeee4;
  letter-spacing: 2.16px;
}

.follow {
  margin: 90px auto 0 auto;
  position: relative;
  max-width: 342px;
  max-height: 130px;
}

.follow__title {
  text-align: center;
  opacity: 0.8;
  color: #ffffff;
  font-size: 16px;
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: 0.16px;
}

.follow__networks {
  margin: 20px auto 40px auto;
  width: 205px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.twitter {
  background: url("../img/twitter.png") center no-repeat;
}

.facebook {
  background: url("../img/facebook.png") center no-repeat;
}

.Dribbble {
  background: url("../img/dribbble.png") center no-repeat;
}

.patern {
  opacity: 0.4;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.16px;
  text-align: center;
}

.network {
  width: 46px;
  height: 40px;
  background-color: #5c5a68;
  opacity: 0.6;
}

.network a {
  width: 100%;
  height: 100%;
  display: block;
}

.pinterest {
  width: 46px;
  height: 40px;
  display: block;
  background: url("../img/pinterest.png") center no-repeat;
  background-color: #6eeee4;
}

.pinterest a {
  width: 100%;
  height: 100%;
  display: block;
}
/*# sourceMappingURL=style.css.map */